.mobile-menu {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 7;
  width: 100vw;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  background-color: #fff;
  transition: visibility 0.5s, height 0.5s;

  &__main {
    padding: 34px 15px 27px;
  }

  &__list {
    margin: -15px -7.5px 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 15px 7.5px 0;

    &:nth-child(2n) {
      width: calc(57% - 15px);
    }

    &:nth-child(2n + 1) {
      width: calc(43% - 15px);
    }

    &:not(:last-child):not(:nth-last-child(2)) {
      min-height: 44px;
    }
  }

  &__link {
    display: flex;
    align-items: flex-start;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.375;
    letter-spacing: 0.02em;
    color: @color-primary;

    &-icon {
      flex: 0 0 auto;
      margin-right: 8px;
      width: 28px;
      display: flex;
      justify-content: center;
    }

    &-text {
      padding-top: 5px;
    }
  }

  &__main-btns {
    margin-top: 23px;
    display: flex;
  }

  &__main-btn {
    flex: 1 1 auto;

    &:first-child {
      flex: 0 0 43%;
    }

    &:not(:first-child) {
      margin-left: 9px;
    }
  }

  &__categories {
    overflow-y: auto;
    padding: 17px 15px 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: @color-primary-light;
    
    &-list {
      margin: -14px -7px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__category {
    margin: 14px 7px 0;

    &:nth-child(2n) {
      width: calc(45.5% - 14px);
    }

    &:nth-child(2n + 1) {
      width: calc(54.5% - 14px);
    }

    &:last-child {
      width: calc(100% - 14px);
    }

    &-link {
      display: flex;
      align-items: center;
      color: #485f5e;
    }

    &-icon {
      margin-right: 9px;
      flex: 0 0 auto;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(@color-primary, 0.06);
    }

    &-name {
      max-width: 136px;
    }
  }

  &__callback {
    margin-top: auto;
    padding: 20px 15px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @color-primary-light;
  }

  &__social-btns {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  @media (max-width: 991px) {
    &--active {
      visibility: visible;
      height: calc(100% - 60px);
    }
  }
}
