.mobile-menu {
  position: fixed;
  left: 0;
  top: 60px;
  z-index: 7;
  width: 100vw;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  visibility: hidden;
  height: 0;
  background-color: #fff;
  transition: visibility 0.5s, height 0.5s;

  &__main {
    padding: 20px 15px 38px;
  }

  &__item {
    border-top: 1px solid #ededed;

    &:last-child {
      border-bottom: 1px solid #ededed;
    }
  }

  &__link {
    padding: 14px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.375;
    letter-spacing: 0.02em;
    color: @color-primary;

    &.accordion__btn {
      &:after {
        .pseudo-icon('../img/icons/right-round.svg', 23px, 23px);
        margin-left: auto;
        align-self: center;
        background-size: 10px 16px;
        transition: transform 0.5s;
      }

      &--active {
        &:after {
          transform: rotate(90deg);
        }
      }
    }

    &-icon {
      flex: 0 0 auto;
      margin-right: 8px;
      width: 28px;
      display: flex;
      justify-content: center;
    }

    &-text {
      padding-top: 5px;
    }
  }

  &__submenu {
    border-top: 1px solid #ededed;
  }

  &__main-btns {
    margin-top: 38px;
    display: flex;
  }

  &__main-btn {
    padding-top: 9px;
    padding-bottom: 9px;
    flex: 1 1 auto;

    &:first-child {
      flex: 0 0 43%;
    }

    &:not(:first-child) {
      margin-left: 9px;
    }
  }

  &__categories {
    padding: 17px 15px 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: @color-primary-light;

    &-list {
      margin: -14px -7px 0;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__category {
    margin: 14px 7px 0;
    width: calc(50% - 14px);

    &-link {
      display: flex;
      align-items: center;
      color: #485f5e;
    }

    &-icon {
      margin-right: 9px;
      flex: 0 0 auto;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(@color-primary, 0.06);
    }

    &-name {
      max-width: 136px;
    }
  }

  &__callback {
    margin-top: auto;
    padding: 38px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: @color-primary-light;
  }

  &__social-btns {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  @media (max-width: 991px) {
    &--active {
      visibility: visible;
      height: calc(100% - 60px);
    }
  }

  @media (max-width: 395px) {
    &__category {
      &-link {
        font-size: 15px;
      }
    }
  }

  @media (max-width: 375px) {
    &__category {
      &-link {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 360px) {
    &__category {
      &-link {
        font-size: 13px;
      }
    }
  }

  @media (max-width: 340px) {
    &__category {
      &-link {
        font-size: 12px;
      }
    }
  }
}
